.card{
    height: 350px;
    width: 400px;
    background-color: whitesmoke;
    color:black;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-width: 2px;
    border-color: black;
}
@media (max-width: 480px) {
    .card {
        height: 100px;
        width: 150px;
    }
}

@media (max-width: 1024px) {
    .card {
        height: 250px;
        width: 300px;
    }
}
.card:hover {
    background-color: rgb(161 161 170);
}

.teams{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 24px;
}

@media (max-width: 1024px) {
    .teams {
        height: 150px;
        font-size: 16px;
    }
}

.score{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 36px;
    padding-left: 12px;
    padding-right: 12px;
}